%mainTitle {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
}

%logoText {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}

%selectorText {
  font-size: 18px;
  line-height: 22px;
}

%main-text-event {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

%timeOfEvent {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

%text-correct-window {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
