$color-of-text: #000000;
$main-background: #FFFFFF;
$background-of-event: #E9E9E9;
$background-active-published-button: #4285F4;
$color-active-published-add-button: #FFFFFF;
$background-button-add: #4ADE80;
$background-button-add-disabled: rgb(121, 116, 116);
